In [3]:
import numpy as np
import pandas as pd
from scipy.stats import norm
import scipy.interpolate

In [10]:
# The Black Scholes Formula
# CallorPut
# S - Stock price (known)
# K - Strike price (known)
# T - Time to maturity (known)
# r - Riskfree interest rate (can be found)
# d - Dividend yield (KNown(?))
# v - Volatility (given)

def BlackScholes(CallorPut, S, K, T, r, d, v):
    d1 = (np.log(float(S)/K)+((r-d) + v*v/2.)*T)/(v*np.sqrt(T))
    d2 = d1 - v*np.sqrt(T)
    
    if CallorPut == 'Call':
        return S*np.exp(-d*T)*norm.cdf(d1) - K*np.exp(-r*T)*norm.cdf(d2)
    else:
        return K*np.exp(-r*T)*norm.cdf(-d2) - S*np.exp(-d*T)*norm.cdf(-d1)
    
##THIS WORKS DON'T TOUCH np

In [11]:
options = pd.read_csv('opt_port.csv')
options

,Maturity,Days,RF rate,Underlying,PutorCall,BoughtSold,Number of Shares,Strike,Vol,Div Yield,Spot
0,9/12/2019,129,0.010187,BHP,Call,Bought,20000,39.0,0.2600,0.0414,38.78
1,8/03/2020,219,0.009705,CBA,Put,Bought,15000,75.0,0.2798,0.0580,81.88
2,12/04/2020,254,0.009443,CBA,Call,Bought,15000,75.0,0.2798,0.0580,81.88
3,4/05/2020,276,0.009289,WESP,Put,Bought,25000,38.1,0.3056,0.0567,38.86
4,7/08/2020,371,0.009026,WESP,Call,Bought,20000,39.0,0.3298,0.0567,38.86
5,6/11/2020,462,0.008754,WPL,Call,Sold,10000,35.0,0.2845,0.0603,33.81
6,6/12/2020,492,0.008665,WPL,Put,Bought,15000,33.0,0.2700,0.0603,33.81

In [12]:
opt_list=(0,1,2,3,4,5,6)
options['BS_Price'] = ""
options

,Maturity,Days,RF rate,Underlying,PutorCall,BoughtSold,Number of Shares,Strike,Vol,Div Yield,Spot,BS_Price
0,9/12/2019,129,0.010187,BHP,Call,Bought,20000,39.0,0.2600,0.0414,38.78,
1,8/03/2020,219,0.009705,CBA,Put,Bought,15000,75.0,0.2798,0.0580,81.88,
2,12/04/2020,254,0.009443,CBA,Call,Bought,15000,75.0,0.2798,0.0580,81.88,
3,4/05/2020,276,0.009289,WESP,Put,Bought,25000,38.1,0.3056,0.0567,38.86,
4,7/08/2020,371,0.009026,WESP,Call,Bought,20000,39.0,0.3298,0.0567,38.86,
5,6/11/2020,462,0.008754,WPL,Call,Sold,10000,35.0,0.2845,0.0603,33.81,
6,6/12/2020,492,0.008665,WPL,Put,Bought,15000,33.0,0.2700,0.0603,33.81,

In [20]:

for x in opt_list:
    maturity = (options.iloc[x, 1]/365)
    options.iloc[x, 11] = BlackScholes( options.iloc[x, 4], #callorput
                 options.loc[x, 'Spot'], #spot
                 options.loc[x, 'Strike'], #Strike
                 maturity, # T 
                 options.iloc[x, 2], #RF rate
                 options.iloc[x, 9], #div yield
                 options.iloc[x, 8] #vol
                )

In [21]:
options

,Maturity,Days,RF rate,Underlying,PutorCall,BoughtSold,Number of Shares,Strike,Vol,Div Yield,Spot,BS_Price
0,9/12/2019,129,0.010187,BHP,Call,Bought,20000,39.0,0.2600,0.0414,38.78,2.06629
1,8/03/2020,219,0.009705,CBA,Put,Bought,15000,75.0,0.2798,0.0580,81.88,4.61319
2,12/04/2020,254,0.009443,CBA,Call,Bought,15000,75.0,0.2798,0.0580,81.88,9.36883
3,4/05/2020,276,0.009289,WESP,Put,Bought,25000,38.1,0.3056,0.0567,38.86,4.27658
4,7/08/2020,371,0.009026,WESP,Call,Bought,20000,39.0,0.3298,0.0567,38.86,4.05331
5,6/11/2020,462,0.008754,WPL,Call,Sold,10000,35.0,0.2845,0.0603,33.81,2.74806
6,6/12/2020,492,0.008665,WPL,Put,Bought,15000,33.0,0.2700,0.0603,33.81,4.73654

In [22]:
options['Price'] = options['BS_Price'] * options['Number of Shares']

In [23]:
options

,Maturity,Days,RF rate,Underlying,PutorCall,BoughtSold,Number of Shares,Strike,Vol,Div Yield,Spot,BS_Price,Price
0,9/12/2019,129,0.010187,BHP,Call,Bought,20000,39.0,0.2600,0.0414,38.78,2.06629,41325.9
1,8/03/2020,219,0.009705,CBA,Put,Bought,15000,75.0,0.2798,0.0580,81.88,4.61319,69197.9
2,12/04/2020,254,0.009443,CBA,Call,Bought,15000,75.0,0.2798,0.0580,81.88,9.36883,140532
3,4/05/2020,276,0.009289,WESP,Put,Bought,25000,38.1,0.3056,0.0567,38.86,4.27658,106914
4,7/08/2020,371,0.009026,WESP,Call,Bought,20000,39.0,0.3298,0.0567,38.86,4.05331,81066.1
5,6/11/2020,462,0.008754,WPL,Call,Sold,10000,35.0,0.2845,0.0603,33.81,2.74806,27480.6
6,6/12/2020,492,0.008665,WPL,Put,Bought,15000,33.0,0.2700,0.0603,33.81,4.73654,71048.1

In [24]:
# Black Scholes Call Delta 
# S - Stock price 
# K - Strike price 
# T - Time to maturity 
# r - Riskfree interest rate (can be found)
# d - Dividend yield 
# v - Volatility 
def bsdelta_call(S, K, T, r, d, v):
    if S>0 and K>0 and v!=0 and T > 0:
        
        term1 = np.log(S / K) + (r - d) * T
        term2 = v * v * T
        term3 = np.sqrt(term2)
        term4 = term2/2
        
        dPlus = (term1 + term4) / term3
        
        bsdelta_call = np.exp(-d * T) * norm.cdf(dPlus)
        
        return bsdelta_call
        
    else:
        
        bsdelta_call = 0
        return bsdelta_call

In [25]:
# Black Scholes put delta 
# S - Stock price 
# K - Strike price 
# T - Time to maturity 
# r - Riskfree interest rate (can be found)
# d - Dividend yield 
# v - Volatility 
def bsdelta_put(S, K, T, r, d, v):
    if S>0 and K>0 and v!=0 and T > 0:
        
        term1 = np.log(S / K) + (r - d) * T
        term2 = v * v * T
        term3 = np.sqrt(term2)
        term4 = term2/2
        
        dPlus = (term1 + term4) / term3
        
        bsdelta_put = -np.exp(-d * T) * norm.cdf(-dPlus)
        
        return bsdelta_put
        
    else:
        
        bsdelta_put = -np.exp(-d * T)
        return bsdelta_put

In [26]:
options['Delta'] = ""

for x in opt_list:
    maturity = (options.iloc[x, 1]/365)
    
    if options.iloc[x, 4] == 'Call':
        options.iloc[x, 13] =  bsdelta_call(options.iloc[x, 10], #spot
                 options.iloc[x, 7], #Strike
                 maturity, # T 
                 options.iloc[x, 2], #RF rate
                 options.iloc[x, 9], #div yield
                 options.iloc[x, 8] #vol
                )
        #return bsdelta_call
        
    elif options.iloc[x, 4] == 'Put':
        options.iloc[x, 13] = bsdelta_put(options.iloc[x, 10], #spot
                 options.iloc[x, 7], #Strike
                 maturity, # T 
                 options.iloc[x, 2], #RF rate
                 options.iloc[x, 9], #div yield
                 options.iloc[x, 8] #vol
                 )
        
        #return bsdelta_put
                     
    else:
        0

In [27]:
options

,Maturity,Days,RF rate,Underlying,PutorCall,BoughtSold,Number of Shares,Strike,Vol,Div Yield,Spot,BS_Price,Price,Delta
0,9/12/2019,129,0.010187,BHP,Call,Bought,20000,39.0,0.2600,0.0414,38.78,2.06629,41325.9,0.480676
1,8/03/2020,219,0.009705,CBA,Put,Bought,15000,75.0,0.2798,0.0580,81.88,4.61319,69197.9,-0.340071
2,12/04/2020,254,0.009443,CBA,Call,Bought,15000,75.0,0.2798,0.0580,81.88,9.36883,140532,0.610902
3,4/05/2020,276,0.009289,WESP,Put,Bought,25000,38.1,0.3056,0.0567,38.86,4.27658,106914,-0.451411
4,7/08/2020,371,0.009026,WESP,Call,Bought,20000,39.0,0.3298,0.0567,38.86,4.05331,81066.1,0.47565
5,6/11/2020,462,0.008754,WPL,Call,Sold,10000,35.0,0.2845,0.0603,33.81,2.74806,27480.6,0.407337
6,6/12/2020,492,0.008665,WPL,Put,Bought,15000,33.0,0.2700,0.0603,33.81,4.73654,71048.1,-0.456532

In [35]:
shares = pd.read_csv('Physical_shares.csv')
shares['Spot'] = (38.79, 94.77, 81.88, 38.86, 33.81, 28.51, 3.98)
shares

  Issuer  Number of Shares Bought/Sold   Spot
0    BHP              5000      Bought  38.79
1    RIO              3000      Bought  94.77
2    CBA              4000      Bought  81.88
3   WESP             10000        Sold  38.86
4    WPL              5000      Bought  33.81
5    NAB             15000        Sold  28.51
6    TLS             30000        Sold   3.98

In [29]:
sharedata = pd.read_csv('RSKMShares.csv', index_col = 'Date', parse_dates = True)
sharedata.columns = [ 'ASX200', 'BHP', 'RIO', 'CBA', 'WESP', 'WPL', 'NAB', 'TLS']
sharedata.tail()

            ASX200    BHP    RIO    CBA   WESP    WPL    NAB   TLS
Date
2019-07-29  6825.8  40.60  98.78  83.25  40.05  34.58  28.58  3.90
2019-07-30  6845.1  40.83  99.00  83.40  39.84  34.67  28.65  3.95
2019-07-31  6812.6  40.76  98.90  82.30  39.19  34.70  28.51  3.97
2019-08-01  6788.9  40.26  97.81  81.92  39.63  34.60  28.64  3.95
2019-08-02  6768.6  38.78  94.77  81.88  38.86  33.81  28.51  3.98

In [38]:
sharelist = ('BHP', 'RIO', 'CBA', 'WESP', 'WPL', 'NAB', 'TLS') 

Deltas_port = {
    'BHP' : ((options.loc[0,6] * options.iloc[0, 13]) 
             + shares.iloc[0,1]),
    'RIO' : ((shares.iloc[1,1])),
    'CBA' : ((options.iloc[1,6] * options.iloc[1, 13]) + (options.iloc[2,6] * options.iloc[2, 13]) + shares.iloc[2,1]),
    'WESP' : ((options.iloc[3,6] * options.iloc[3,13]) + (options.iloc[4,6] * options.iloc[4,13]) + shares.iloc[3,1]), 
    'WPL' : ((options.iloc[5,6] * options.iloc[5,13]) + (options.iloc[6,6] * options.iloc[6,13]) + shares.iloc[4,1]),
    'NAB' : (shares.iloc[5,1]),
    'TLS' : (shares.iloc[6,1])
}

In [39]:
Deltas_port

{'BHP': 964489.5003892045,
 'RIO': 284310.0,
 'CBA': 389839.39645842224,
 'WESP': 378896.7241338525,
 'WPL': 147808.14489949448,
 'NAB': 427650.0,
 'TLS': 119400.0}

In [40]:
#Covariance matrix

share_log_returns = pd.DataFrame()

for x in sharelist:
    
    share_log_returns[x] = np.log(sharedata[x]).diff()
    
share_log_returns.tail(10)

,BHP,RIO,CBA,WESP,WPL,NAB,TLS
Date,,,,,,,
2019-07-22,0.006796,0.008273,-0.002928,0.000780,0.001487,0.001816,-0.010471
2019-07-23,0.005789,-0.003982,-0.003672,0.010599,0.008876,0.010827,0.002628
2019-07-24,-0.006031,-0.022139,0.009762,0.010487,0.006459,0.016729,0.013038
2019-07-25,-0.018067,-0.042893,0.007862,0.014400,0.006127,0.009835,0.005168
2019-07-26,0.006385,0.020253,-0.004952,-0.003266,-0.001164,-0.004203,-0.010363
2019-07-29,-0.006139,0.005278,0.007960,0.007770,0.006965,0.003154,0.015504
2019-07-30,0.005649,0.002225,0.001800,-0.005257,0.002599,0.002446,0.012739
2019-07-31,-0.001716,-0.001011,-0.013277,-0.016450,0.000865,-0.004899,0.005051
2019-08-01,-0.012343,-0.011082,-0.004628,0.011165,-0.002886,0.004549,-0.005051
2019-08-02,-0.037454,-0.031574,-0.000488,-0.019621,-0.023097,-0.004549,0.007566

In [41]:
cov_matrix  = share_log_returns.cov()
cov_matrix

           BHP       RIO       CBA      WESP       WPL       NAB       TLS
BHP   0.000280  0.000254  0.000088  0.000078  0.000147  0.000101  0.000035
RIO   0.000254  0.000351  0.000092  0.000083  0.000143  0.000109  0.000035
CBA   0.000088  0.000092  0.000149  0.000066  0.000077  0.000119  0.000040
WESP  0.000078  0.000083  0.000066  0.000157  0.000067  0.000071  0.000037
WPL   0.000147  0.000143  0.000077  0.000067  0.000231  0.000089  0.000036
NAB   0.000101  0.000109  0.000119  0.000071  0.000089  0.000183  0.000042
TLS   0.000035  0.000035  0.000040  0.000037  0.000036  0.000042  0.000150

In [61]:
Spot_val = {'BHP': 38.78,
 'RIO': 94.77,
 'CBA': 81.88,
 'WESP': 38.86,
 'WPL': 33.81,
 'NAB': 28.51,
 'TLS': 3.98}

In [66]:
#Deltas * price 
X_vector = []
for x in sharelist: 
    X_vector.append(Deltas_port[x] * Spot_val[x])

In [68]:
X_vector

[566712.6640767439,
 284310.0,
 660154.7970677672,
 319729.44326595525,
 75240.5567134204,
 427650.0,
 119400.0]

In [69]:
#We have our X vector and covariance matrix!!

Covar_X = cov_matrix.dot(X_vector)
Covar_X

BHP     372.170670
RIO     392.016318
CBA     256.826621
WESP    201.644966
WPL     255.919266
NAB     279.747696
TLS     106.447690
dtype: float64

In [72]:
X_Covar_X = Covar_X.dot(X_vector)
X_Covar_X

707984613.9678899

In [73]:
sqrt_covar = np.sqrt(X_Covar_X)
sqrt_covar

26607.980268481293

In [80]:
shares['Spot'] = [38.78, 94.77, 81.88, 38.86, 33.81, 28.51, 3.98]

In [89]:
shares

  Issuer  Number of Shares Bought/Sold   Spot       mtm
0    BHP              5000      Bought  38.78  193900.0
1    RIO              3000      Bought  94.77  284310.0
2    CBA              4000      Bought  81.88  327520.0
3   WESP             10000        Sold  38.86  388600.0
4    WPL              5000      Bought  33.81  169050.0
5    NAB             15000        Sold  28.51  427650.0
6    TLS             30000        Sold   3.98  119400.0

In [82]:
shares['mtm'] = shares['Number of Shares'] * shares['Spot']

In [88]:
share_mtm_value = shares['mtm'].sum()
option_mtm_value = options['Price'].sum()
Portfolio_mtm_value = share_mtm_value + option_mtm_value
Portfolio_mtm_value

2447995.4512618408

31175.85547729422